fastapi==0.115.6
uvicorn[standard]==0.32.1
pydantic==2.10.4
python-dotenv==1.0.1
setuptools<81
langgraph==0.2.60
langgraph-checkpoint-sqlite==2.0.11
langchain==0.3.13
langchain-community==0.3.13
langchain-openai==0.2.14
faiss-cpu==1.9.0.post1
pymilvus==2.5.3
opentelemetry-api==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-exporter-otlp==1.32.1
